body{font-family: 'Montserrat', sans-serif;}
.container{}


/******************* menu section *********************/

.navbar-expand-lg .navbar-nav .nav-link{color: black;font-weight: 600;/* border-bottom: 3px solid #95ce3d; */}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-bottom: 3px solid #95ce3d;
}

/******************* menu section *********************/


/******************* banner section *********************/
.heading{padding: 15px 0px;}
.heading h1{
    font-size: 35px;
}
.heading p{
    color: #fff;
    font-weight: 500;
}
.heading span{
    /* color: blue; */
    background: #138eef;
    width: 80px;
    height: 3px;
    display: block;
    margin: auto;
}
.banner{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	position: relative;
	padding: 180px 0px;
}
.banner p{
    color: #fff;
    padding: 10px 0px 40px;
}
.banner h1{
    color: #fff;
}

.banner a{
    color: #fff;
    padding: 10px 20px;
    background: #fd8227;
    /* border-radius: 30%; */
}






/******************* banner section *********************/


/******************* categories section *********************/
.our_categories_section{}
.category{
    position: relative;
}
.category img{}
.category h2{
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    left: 10%;
    bottom: 10%;
    /* transform: translate(-50%, -50%); */
    color: #fff;
}
.category p{
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    left: 10%;
    bottom: 0%;
    /* transform: translate(-50%, -50%); */
    color: #fff;
    font-weight: 500;
}

.category2{
    position: relative;
    padding-bottom: 20px;
}
.category2 img{height: 170px;}
.category2 h2{
    position: absolute;
    bottom: 20%;
    font-size: 20px;
    left: 10px;
    color: #fff;
}
.category2 p{
    position: absolute;
    /* bottom: 0%; */
    font-size: 20px;
    left: 10px;
    top: 70%;
    padding: 5px 0px;
    color: #fff;
}



/******************* categories section *********************/


/******************* our differences section *********************/


.our_differences_section{}
.our_differences_section a{
    font-size: 50px;
    padding: 10px 0px;
}

.our_differences_section{
    background: #dfd9d92e;
    padding: 50px;
    margin-top: 20px;
}
.our_differences_section h2{
    font-size: 25px;
}
.our_differences_section p{}




/******************* our differences section *********************/


/******************* popular course section *********************/
.popular_courses{
	background-image: url(../images/popular_courses_bg2.jpg);
	background-size: cover;
	position: relative;
	padding: 80px 0px;
}
.popular_courses h1{
    padding-top: 10px;
    color: #fff;
}

.course{}
.course img{}
.course_content{background: white;padding: 15px;margin-bottom: 25px;}
.course_content span{
    padding: 0px 5px;
}
.course_content h3{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 5px;
}
.course_content p{
    padding: 10px 5px;
    border-bottom: 1px solid #80808033;
}
.course_content i{}
.course_content a{
    padding: 5px 10px;
    margin-left: 40px;
    background:  #f2622c;
    color: #fff;
}

.course_content .btn-custom{background: #f2622c!important;
    padding: 5px 20px!important;
    border-radius: 50px!important;
    color: #fff!important;
    font-size: 15px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    margin-left: 10px;
}


.hvr::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: #86ae58a1;
}
.hvr2::before{
	content: "";
	position: absolute;
	height: 90%;
	width: 100%;
	background: #3d3dac9c;
}
.hvr3::before{
	content: "";
	position: absolute;
	height: 90%;
	width: 100%;
	background: #ffa50094;
}
.hvr4::before{
	content: "";
	position: absolute;
	height: 90%;
	width: 100%;
	background: #e91e6385;
}
.hvr5::before{
	content: "";
	position: absolute;
	height: 90%;
	width: 100%;
	background: #06dcdc7a;
}
/******************* popular course section *********************/


/******************* upcoming events section *********************/
.upcoming_events_section{
    background: #8080801a;
    padding: 50px;
}
.event_bg{
    he: wheat;
    background: white;
    height: 90%;
}
.event{
    padding: 41px;
    background: #1181d3;
}
.event h3{
    padding: 10px 0px;
    color: #fff;
    font-weight: 700;
}
.event span{
    color: #fff;
    font-size: 2;
}
.event2{
    padding: 20px;
}
.event2 ul{}
.event2 ul li{}
.event2 p{}
.event2 i{}
.event_image{}
.event_image img{
    margin-top: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}





.btn-custom{background: #f2622c!important;
    padding: 2px 15px!important;
    border-radius: 20px!important;
    color: #fff!important;
    font-size: 15px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    margin-left: 20px;
}
.bg_color{background: white}

/******************* upcoming events section *********************/



/*******************latest news section *********************/

.latest_news_section{
    padding: 40px 0px;
}
.latest_news_section h1{
    /* padding: 10px 0px; */
}
.latest_news_section span{}
.news{}
.news img{
    margin-top: 30px;
}
.news_content{
    background: white;
    padding: 10px 10px;
    border: 2px  solid #f4f4e2;
}
.news_content h3{
    font-size: 20px;
    font-weight: 700;
}
.news_content p{}
.news_content ul{
    list-style: none;
    display: inline;
}
.news_content ul li{
    float: left;
    padding-right: 40px;
}
.news_content ul li i{
    padding-right: 10px;
}




/*******************latest news section *********************/



/*******************contact section *********************/

.contact_section{
    padding: 50px 0px;
    background: #343434;
    color: #fbfbfb;
}
.contact1{}
.contact1 img{
}
.contact1 p{
    font-weight: 300;
}
.contact1 a{
}
.contact1 i{
    border: 1px solid #ffffff87;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.contact2{
    padding: 10px 0px;
}
.contact2 h4{
    font-size: 20px;
}
.contact2 p{
    font-weight: 300;
    margin-top: 2px;
}
.contact2 i{}
.gallery{}
.gallery h4{
    font-size: 20px;
    padding: 10px 0px;
}
.gallery_img{
    width: 90px;
    padding-bottom: 4px;
}
.gallery_img img{
    height: 80px;
}
.information{}
.information h4{
    font-size: 20px;
    padding: 10px 20px;
}
.information a{}
.information p{
    padding: 0px 20px;
    color: #fbfbfb;
}
.information i{
    color: #004cff;
}




/*******************contact section *********************/



/*******************footer section *********************/

.footer{
    background: #211e1e;
    color: #fbfbfb;
}
.footer p{
    margin-top: 10px;
    font-weight: 400;
}
.footer p b{
    color: #ff8400;
}





/*******************footer section *********************/







